<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">   
    <title>We Love Web Notes </title>
</head>
<body>
<section>
<!------------------------------------------------ HOOFDTITEL ----------------------------------------------->
    <section>
        <h1>We <span class="span-1">Love</span> Web Notes!<span class="span-2">(en workshops)</span></h1>
    </section>
    <!------------------------------------------------ NAVIGATIE BAR ----------------------------------------------->
    <nav>
        <ul>
            <details>
                <summary>Semester 1</summary>
                <li><a href="#sprint-1">Sprint 1</a></li>
                <li><a href="#sprint-2">Sprint 2</a></li>
                <li><a href="#sprint-3">Sprint 3</a></li>
                <li><a href="#sprint-4">Sprint 4</a></li>
                <li><a href="#sprint-5">Sprint 5</a></li>
                <li><a href="#sprint-6">Sprint 6</a></li>
            </details>

            <details>
                <summary>Semester 2</summary>
                
                <li><a href="#sprint-7">Sprint 7</a></li>
                <li><a href="#sprint-8">Sprint 8</a></li>
                <li><a href="#sprint-9">Sprint 9</a></li>
                <li><a href="#sprint-10">Sprint 10</a></li>
                <li><a href="#sprint-11">Sprint 11</a></li>
                <li><a href="#sprint-12">Sprint 12</a></li>
            </details>

            <!-- <li><a href="#sprint-1">Sprint 1</a></li>
            <li><a href="#sprint-2">Sprint 2</a></li>
            <li><a href="#sprint-3">Sprint 3</a></li>
            <li><a href="#sprint-4">Sprint 4</a></li>
            <li><a href="#sprint-1">Sprint 5</a></li> -->
        </ul>
    </nav>