<!------------------------------------------------ SPRINT - 4 ----------------------------------------------->
<section id="sprint-4">
    <h2>Sprint 4</h2>
    <br>
    <section class="divs">
         <!-------------------------------NOTE - 1 ---------------------------->
            <div class="div-1">
                <h3>week 1</h3>
                <h4>15/11</h4>
                <h5>Responsive lay-out & Huisstijl</h5>
                <h6>Huisstijl:</h6>
                <p>kleur gebruik</p>
                <p>lettertype</p>
                <p>positionering controllers</p>
                <p>lay-out</p>
                <p>typografie</p>
                <p>lijsten</p>
                <p>"album covers"</p>
                <p>beeld elementen</p>
                <p>hover (animaties om iets te laten zien)</p>
                <p>grid</p>
                <br>
                <h6>Lay-outs:</h6>
                    <p>fixed = size blijft altijd hetzelfde</p>
                    <p>fluid = word groter/kleiner afhankelijk van scherm</p>
                    <p>adaptive = verschillend afhankelijk van soort scherm</p>
                    <p>responsive = past zich aan afhankelijk van schermgrootte</p>
                    <br>
                    <p>container queries --> stap verder</p>
            </div>          
         <!-------------------------------NOTE - 2 ---------------------------->
            <div class="div-2">
                <h3>week 2</h3>
                <h4>20/11</h4>
                <h5>Typografie & Leesbaarheid</h5>
                <h6>Leesbaarheid</h6>
                <p>goed leesbare tekst = minimaal 16px</p>
                <p>browser default = 16px</p>
                <p>10-12 woorden per zin</p>
                <p>45-70 characters per zin</p>
                <br>
                <h6>Regelafstand:</h6>
                <p>1.4 (140%)</p>
                <p>1.2 (browser default line-height)</p>
                <p>1.5 - 2</p>
                <p>minimaal 1.5 line height</p>
                <br>
                <h6>Font:</h6>
                <p>max 3-4 fonts in huisstijl</p>
                <p>relatieve length units: em/rem/vh/vw</p>
                <br>
                <h6>Max-width:</h6>
                <p>...ch = aantal characters(letters)</p>
                <p>30em = 10-12 woorden</p>
            </div>
         <!-------------------------------NOTE - 3 ---------------------------->
            <div class="div-3">
                <br><br>
                <h6>Toegankelijkheid:</h6>
                <p>altijd font fallback</p>
                <p>geen caps gebruiken(VOORBEELD)</p>
                <p>geen "center-text" als je meer dan 3 regels hebt</p>
                <p>nooit text-align: justify</p>
                <p>goede contrast</p>
                <br>
                <h4>22/11</h4>
                <h5>CSS voor styleguides</h5>
                <h6>CSS custom properties:</h6>
                <p>1. globaal</p>
                <p>2. scoped</p>
                <p>3. fallback</p>
                <p>4. veranderbaar</p>
                <br>
                <h6>Naamgeving:</h6>
                <div class="flex">
                <p>
                    Niet doen❌:<br>
                    rood<br>
                    blauw<br>
                    size<br>
                    color<br>
                </p>
                <p>
                    Wel doen✅ :<br>
                    primary-color<br>
                    secondary-color<br>
                    font-size<br>
                    font-color
                </p>
                </div>
            </div>  
<!-------------------------------NOTE - 4 ---------------------------->
            <div class="div-4">
                <br><br>
                <h6>Structuur in CSS:</h6>
                <p>1. DRY</p>
                <p>2. specificity</p>
                <p>3. naamgeving</p>
                <p>4. comments</p>
                <br>
                <h6>WET & DRY:</h6>
                <p>WET = write everything twice</p>
                <p>DRY = don't repeat yourself</p>
                <br>
                <h6>Specificity:</h6>
                <p>target class names</p>
                <p>geen id's voor styling</p>
                <p>zo min mogelijk inline styling</p>
                <p>geen !important gebruiken</p>
            </div>
<!-------------------------------NOTE - 5 ---------------------------->
            <div class="div-5">
                <h3 class="h3-midden">week 2</h3>
                <h4>24/11</h4>
                <h5>Yolijn van der Kolk, NL Design System</h5>
                <h5>We ❤️ Web presentatie</h5>
                <br>
                <h6>Wat is een design system?</h6>
                <p>Een online verzameling van herbruikbare visuele componenten met duidelijke richtlijnen. </p>
                <br>
                <h6>Voorbeelden van een design system</h6>
                <p><a href="https://sanomalearning.design/" class="normale-link">sanomalearning.design</a></p>
                <p><a href="https://lion-web.netlify.app/" class="normale-link">lion-web.netlify.app</a></p>
                <br>
                <h6>Community:</h6>
                <p>samenwerking tussen overheidsorganisaties</p>
                <p>samenwerking met leveranciers van overheid</p>
                <br>
                <h6>Rekening mee houden:</h6>
                <p>elk organisatie heeft eigen huisstijl</p>
                <p>code en design in sync</p>
                <p>open source voor iedereen te gebruiken</p>
            </div>
<!-------------------------------NOTE - 6 ---------------------------->
            <div class="div-6">
                <br><br>
                <h6>Architectuur(tech-stack):</h6>
                <p>CSS componeten met voorspelbare namen</p>
                <p>Design tokens in JSON</p>
                <p>Webcomponents waar mogelijk</p>
                <p>Framework componenten waar handig</p>
                <p>Documentatie in Markdown(soortvan read.me)</p>
                <p>Storybook met visuele regressie tests</p>
                <br>
                <p>Voorspelbare naamgeving:<br>bekend van webstandaarden</p>
                <br>
                <h6>Design tokens in lagen:</h6>
                <p>1. Huisstijl tokens</p>
                <p>2. Algemene tokens</p>
                <p>3. Component tokens</p>
                <br>
                <h6>High contrast mode</h6>
                <div class="flex">
                    <p>1. kleurenpalet<br>font<br>border-radius</p>
                    <p>2. consistentie kleuren gebruik.<br>font-familie voor heading.<br>kleuren voor feedback & interactie.</p>
                    <p>3. denk aan:<br>bg-kleur van een button.<br>border-kleur van textbox.<br>tekst-kleur van card.</p>
                </div>
            </div>
    </section> 
</section>