<section id="sprint-5">
    <h2>Sprint 5</h2>
    <br>
    <section class="divs-2">
<!-------------------------------NOTE - 1 ---------------------------->
             <div class="div-1">
                    <h3>week 1</h3>
                    <h4>15/11</h4>

                </div>          
<!-------------------------------NOTE - 2 ---------------------------->
             <div class="div-2">
                <h3 class="h3-midden">week 2</h3>
                <h4>15/12</h4>
                <h5>Julia Miocene, Over CSS</h5>
                <h5>We ❤️ Web presentatie</h5>
                <h6>Why?:</h6>
                <p>Learn new things</p>
                <p>Try new things</p>
                <p>Have fun & prevent burn out</p>
                <p>Gain skills in a nearby area</p>
                <p>Find a creative community</p>
                <p>Push technoology forward</p>
                <br>
                <h6>Where to start?</h6>
                <p><a href="https://codepen.io/challenges" class="normale-link">codepen.io/challenges</a></p>
                <p><a href="https://cssbattle.dev/" class="normale-link">cssbattle.dev</a></p>
                <p><a href="https://100dayscss.com/" class="normale-link">100dayscss.com</a></p>
                <br>
                <h6>Peoples Codepens to visit:</h6>
                <p>David Khourshid</p>
                <p>Ben Evans</p>
                <p><span>Julia Miocene</span></p>
                <p>Steve Gordner</p>
                <p>Ana Tudor</p>
                <p>Amit Sheen</p>

            </div>
<!-------------------------------NOTE - 3 ---------------------------->
            <div class="div-3">
                        <h3>week 3</h3>
                        
                       
                        </div>
                    </div>  
    </section>
