<!------------------------------------------------ SPRINT - 3 ----------------------------------------------->
<section id="sprint-3">
    <h2>Sprint 3</h2>
    <br>
    <section class="divs-2">
         <!-------------------------------NOTE - 1 ---------------------------->
            <div class="div-1">
                <h3 class="h3-links">week 1</h3>
                <h4>18/10</h4>
                <h5>Kleur & Contrast</h5>
                <br>
                <h6>Kleurenblind:</h6>
                <p>1. gebruik naast kleuren alt. info</p>
                <p>2. onderscheidende kleuren<br>koud & warm contrast<br>complementair contrast</p>
                <p>3. saturatie & brightness<br>light and dark colours</p>
                <p>4. vermijd rood en groen!</p>
                <br>
                <p><a href="https://www.tpgi.com/color-contrast-checker/" class="normale-link">Color Contrast Analyser</a>
                <br>Hiermee kan je het contrast tussen kleuren checken</p>
            </div>          
         <!-------------------------------NOTE - 2 ---------------------------->
            <div class="div-2">
                <h3 class="h3-midden">week 2</h3>
                <h4>23/10 - 27/10</h4>
                <h5>Vakantie!</h5>
                <img src="assets/vakantie-foto.png" class="vakantie-foto">
            </div>
         <!-------------------------------NOTE - 3 ---------------------------->
            <div class="div-3">
                <h3 class="h3-rechts">week 3</h3>
                <h4>30/10</h4>
                <h5>Visual thinking</h5>
                <br>
                <h6>Denk-cyclus & Typografie:</h6>
                <div class="denk-cyclus">
                    <img src="assets/denk-cyclus.png" class="denk-cyclus-foto">
                    <img src="assets/letters.png" class="denk-cyclus-foto">
                </div>
            </div>  
    </section> 
</section>