<section id="sprint-1">
    <h2>Sprint 1</h2>
    <br>
    <section class="divs">
        <!-------------------------------NOTE - 1 ---------------------------->
            <div class="div-1">
                <h3 class="h3-links">week 1</h3>
                <h4>05/09</h4>
                <h5>Workshop CSS Basics</h5>
                <br>

                <div class = note-tekst>
                    <h6>Selectors:</h6>
                    <p>element selectors</p>
                    <p>.class selectors</p>
                <br>
                    <p>meta = boven</p>
                    <p>body = content</p>
                    <p>universal selector = alles</p>
                    <p>pseudo element :before, :after</p>
                <br>
                    <h6>Properties:</h6>
                    <p>hoogte, font, display, color</p>
                    <p>typografie - font, kleur</p>
                    <p>boxes - hoogte, breedte, margin, padding</p>
                <br>
                    <h6>Typografie:</h6>
                    <p>line-height = ruimte tussen regels</p>
                    <p>letter-spacing = ruimte tussen letters</p>
                </div>
            </div>          
        <!----------------------------NOTE - 2 ------------------------------>
            <div class="div-2">
                <h3 class="h3-midden">week 1</h3>
                <h4>05/09</h4>
                <h5>Workshop CSS Basics</h5>
                <br>
                <div class="note-tekst">
                    <h6>Box:</h6>
                    <p>margin = ruimte buitenkant box</p>
                    <p>padding = ruimte binnenkant box</p>
                    <p>border-radius = hoeken rond maken</p>
                    <p>debuggen = inspect gebruiken</p>
                <br>
                    <h6>Position:</h6>
                    <p>position: absolute/relative</p>
                    <p>bottom: ...;</p>
                    <p> right: ...;</p>
                <br><br>

                    <h6>Transform:</h6>
                    <p>rotate: ..deg = .. graden draaien</p>
                    <p>scale: 2 = 2x zo groot</p>
                    <p>transition: 2s = transition tijd</p>
                </div>
            </div>
        <!------------------------------NOTE - 3 --------------------------------->
            <div class="div-3">
                <h3 class="h3-rechts">week 1</h3>
                <h4>06/09</h4>
                <h5>Visuele Hiërarchie</h5>
                <br>
                <div class="note-tekst">
                    <h6>Volgorde belangrijke tekst</h6>
                    <p>1. wie, wat, waar, wanneer</p>
                    <p>2. belangrijke details</p>
                    <p>3. andere info (minder belangrijk)</p>
                <br>
                    <h6>meest belangrijk</h6>
                    <p>h1</p>
                    <p>h2</p>
                    <p>h3</p>
                    <p>h4</p>
                    <p>h5</p>
                    <p>h6</p>
                    <h6>minst belangrijk</h6>
                <br>
                    <h6>Visuele hiërarchie:</h6>
                    <p>grootte</p>
                    <p>positie op scherm</p>
                    <p>witruimte</p>
                    <p>kleur/contrast</p>
                </div>
            </div>  
<!---------------------------------------NOTE - 4 ------------------------------->
            <div class="div-4">
                <h3 class="h3-links">week 2</h3>
                <h4>12/09</h4>
                <h5>HTML & CSS</h5>
                <br>
                <div class="note-tekst">
                    <p>< a > = anchor element (link naar andere website)</p>
                    <p>target = blank = nieuwe tablad</p>
                <br><br>

                    <h6>Target een class name:</h6>
                    <p>< button class 'sub-button' ></p>
                <br><br>

                    <h4>13/09</h4>
                    <h5>media query</h5><br>
                    <p>@media (min-width: ...px){</p>
                    <p>div{</p>
                    <p>background-color: ...</p>
                    <p>}</p>
                </div>
            </div>          
        <!---------------------------NOTE - 5 ----------------------------->
            <div class="div-5">
                <h3 class="h3-midden">week 3</h3>
                <h4>19/09</h4>
                <h5>Digitale toegankelijkheid</h5>
                <h5>We ❤️ Web presentatie</h5>
                <br><br>
                <h6>Wat is digitale toegankelijkheid?</h6>
                    <p>- de mensen</p>
                    <p>- de wet</p>
                    <p>- de richtlijnen</p>
                    <p>- de praktijk</p>
                <br><br>
                <h6>Web Content Accesibility Guidelines:</h6>
                    <p>- 4 principes</p>
                    <p>- 13 richtlijnen</p>
                <br>
                    <p>1. niet goed kunnen zien?</p>
                    <p>2. niet goed kunnen horen?</p>
                    <p>3. niet goed kunnen bewegen?</p>
                    <p>4. niet goed kunnen snappen/begrijpen?</p>
            </div>
        <!---------------------------NOTE - 6 ------------------------------->
            <div class="div-6">
                <h3 class="h3-rechts">week 3</h3>
                <h4>19/09</h4>
                <h6>Voorbeelden</h6>
                    <p>1. screenreaders, alt text, contrast</p>
                    <p>2. tekst, ondertiteling</p>
                    <p>3. eye tracker, tab</p>
                    <p>4. overzicht, duidelijk/simpel</p>
                <br>

                <h6>Inclusive design:</h6>
                    <p>deaf/Deaf</p>
                    <p>teletolk</p>
                    <p>gebarentaal is niet overal zelfde,</p>
                    <p>bijv. ander soort grammatica</p>
                <br>

                <h6>Tips:</h6>
                <p>- use headings & subheadings</p>
                <p>- één punt per paragraaf</p>
                <p>- easy acces language</p>
                <p>- journalistic style</p>
                <p>- white space</p>
                <p>- actieve vorm schrijven</p>
                <p>- foto's</p>

    </section> 